
body, h1, p {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e50914;
}


.hero {
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #999;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff3c4a;
}


.content {
    padding: 20px;
}

.featured, .trending {
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

